* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root {
	--ylw: #feac31;
}

body {
	background-color: var(--ylw);
}

#spacer {
	background-color: var(--ylm);
	height: 75px;
	transition: background-color 0.2s ease;
}

.job_title {
	animation-name: change;
	padding-right: 20px;
	font-weight: bolder;
	font-size: 7vw;
	font-style: oblique;
	text-align: right;
	color: #ffffff;
	background-color: var(--ylw);
	z-index: 1;
}

.sticky.job_title {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 0;
}

.sticky + .content {
  padding-top: 205px;
}

div.rotating_job_titles_container {
	margin: 0 -10px 0 0;
	padding-right: 10px;
	height: 8vw;
	overflow: hidden;
}

ul.rotating_job_titles {
	list-style: none;
	animation-name: change;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

li.rotating_job_title {
	white-space: nowrap;
}

div.static_job_title { 
	margin-top: -20px;
	height: 115px; 
}

@keyframes change {
  0%, 27%, 100% {
	transform: translate3d(0, 0, 0);
  }
  33%, 60% {
	transform: translate3d(0, -25%, 0);
  }
  66%, 94% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(0, -75%, 0);
  }
}

.white-box {
    margin: 0 0 5% 12%;
    padding: 10px 10px 40px;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    border-radius: 0px;
}

.yellow-box {
    margin: 0 0 5% 12%;
    padding: 10px 10px 40px;	
}

#kexp_logo {
	height: 90px;
}

.left-box {
	width: 30%;
	padding-top: 35px;
	padding-left: 40px;
}
.content-title {
	font-family: proxima nova; 
	font-weight: bolder;
	font-size: 36px;
	line-height: 34px;
	margin: 20px 0;
	color: var(--ylw);
}

.content-summary {
	font-family: proxima nova; 
	font-size: 16px;
	line-height: 18px;
	color: #feac31;
}

.action_button {
	height: 35px;
    border: 1px solid var(--ylw);
    border-radius: 30px;
    margin: 18px 44px 0 20px;
    transition-duration: 0.2s;
}

.action_button:hover {
    background-color: var(--ylw);
    color: #FFF;
}

.button_text {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bolder;
}

.right-box {
	width: 60%;
	vertical-align: top;
    text-align: center;
}
.right-box, .left-box {
	display: inline-block;
}

.example_button {
	display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.example_button .button_text {
	font-size: 48px;
	color: #999;
}

.example_button.active .button_text{
	color: #000;
}

.example_content {
	display: none;
}

.example_content.active {
	display: block;
}

.content_text {
    text-align: left;
    width: 40vw;
    margin: auto;
    padding: 0px 0 0 4vw;
}

.timeline-box {
    display: inline-block;
    width: 25vw;
    height: 10vw;
    padding: 12px;
    vertical-align: top;
    color: #FFF;
}

.yellow-box .content-title {
	color: #FFF;
	margin-bottom: 50px;
}
